.slider {
    position: relative;
    &__slide {
        padding: 40px 0;
    }

    &__arrow {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1;
        padding: 20px;
        font-size: 4rem;
        color: $primary-color;
        background-color: transparent;
        border: 0;
        outline: 0;
        &--prev {
            left: 0;
        }
        &--next {
            right: 0;
        }
        &:hover {
            transform: scale(1.5)   ;
        }
    }

    &__dots {
        list-style: none;
        padding: 0 70px;
        text-align: center;
        margin: 0;
        li {
            display: inline-block;
            button {
                font-size: 0;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                padding: 0;
                outline: 0;
                border:  $border-width solid #fff;
                background-color: $primary-color;
                @include hover {
                    border-color: $primary-color;
                    background-color: #fff;
                }
            }
            &.slick-active button {
                border-color: $primary-color;
                background-color: #fff;
            }
        }
    }
    &__dot {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        padding: 0;
        outline: 0;
        border:  $border-width solid #fff;
        background-color: $primary-color;
        &--active {
            border-color: $primary-color;
            background-color: #fff;
        }
        @include hover {
            border-color: $primary-color;
            background-color: #fff;
        }
    }
}